@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --nav-height: 75px;

  padding-top: var(--nav-height);
}

/* ########### Navbar style start here ########## */

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
  color: #f2f2f2;
}

#topmenu {
  width: 100%;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: #8cbf3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
}

#logo {
  text-align: center;
}

#logo-img {
  width: 225px;
}
#nav-links {
  display: flex;
  padding-top: 20px;
  list-style: none;
  height: var(--nav-height);
}
.menu-link a {
  color: rgb(148, 83, 166);
  text-decoration: none;
  font-size: 25px;
  margin: 0px 15px;
  font-family: "Pattaya";
}

.corent {
  border-bottom: 5px solid rgb(148, 83, 166);
}

#search-form {
  width: 300px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px groove;
  background-color: #9453a6;
}
#query {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  color: #f2f2f2;
}

::placeholder {
  color: #f2f2f2;
}

#search-btn {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 0 10px;
}

/* ########### Navbar style start here ########## */

/* ########### Header style start here ########## */

#header {
  background-image: url(/img/headerBG.jpg);
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
  position: relative;
}

#header-title {
  color: #f2f2f2;
  font-size: 95px;
  text-align: center;
  font-family: "Henny Penny";
}
/* ########### Header style end here ########## */

/* ########### Footer style start here ########## */

footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  padding: 15px;
  background-color: #fdf8e5;
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
}

#icons-wraper {
  display: flex;
  list-style: none;
  margin: 25px;
}

.social-icon {
  width: 50px;
  margin: 5px 10px;
  border-radius: 50px;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.5);
}

/* ########### Footer style end here ########## */
