@import url(/css/consistent.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: bold;
}

/* ########### Slidshow style start here ########## */

#slide1 {
  background-image: url(/img/img-slide-1.jpg);
  background-position: bottom;
}
#slide2 {
  background-image: url(/img/img-slide-2.jpg);
}
#slide3 {
  background-image: url(/img/img-slide-3.jpg);
  background-position: bottom;
}
#slide4 {
  background-image: url(/img/img-slide-4.jpg);
  background-position: bottom;
}
#slide5 {
  background-image: url(/img/img-slide-5.jpg);
  background-position: center;
}

.mySlide {
  display: none;
  height: 550px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
}

.mySlide h2 {
  font-family: "Henny Penny";
  letter-spacing: 3px;
  font-size: 35px;
}

.slide-txt {
  position: relative;
  top: 65%;
  padding: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  background-color: rgba(13, 13, 13, 0.7);
  border-radius: 0px 70px 70px 0px;
}

.slide-txt h2 {
  font-size: 40px;
}
.slide-txt p {
  font-size: 25px;
}

.slideshow-container {
  max-width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#dotNav {
  position: relative;
  top: -5px;
}

.dot {
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 10px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #f2f2f2;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .mySlide h2 {
    font-size: 27px;
  }
}
/* ########### Slidshow style end here ########## */

/* ########### First section style start here ########## */
#firstSection {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4% 6%;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(
      rgba(148, 83, 166, 0.95),
      rgba(148, 83, 166, 0.95)
    ),
    url(/img/retro-bg.jpg);

  color: #f2f2f2;
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
}

.inner-first {
  margin: 0px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 18px;
}

/* Countwon style */

#clock-container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px groove #8cbf3f;
  border-radius: 15px;
  width: 90%;
  color: #f2f2f2;
  padding: 20px;
  height: 175px;
}

#clock-container h1 {
  font-family: "Pattaya";
  letter-spacing: 3px;
  font-size: 32px;
  color: #8cbf3f;
  text-align: center;
}

#clock-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-ul {
  display: flex;
  list-style: none;
}

#clock-time li {
  background-color: #8cbf3f;
  border: 1px black solid;
  line-height: 40px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 0;
}

.clock-ul li {
  width: 50px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  height: 30px;
}

/* Photo contest style */

.contastTitlle {
  display: flex;
  align-items: center;
}

#logo2021 {
  width: 200px;
}

#photoContest h1 {
  font-size: 35px;
  margin-top: 0%;
  font-family: "Pattaya";
}
.photoContest-txt p {
  margin: 15px 0;
}

.photoContest-icon {
  margin-right: 15px;
}

.photoContest-icon img {
  width: 100px;
}

.prizes {
  display: flex;
  align-items: center;
}

.prizes p {
  margin-left: -30px;
}

.prize-place {
  display: flex;
  color: #8cbf3f;
  justify-content: center;
}

.prize-place h2 {
  font-family: "Pattaya";
  font-size: 70px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
}

.prize-place h4 {
  transform: rotate(-90deg);
  margin-left: 25px;
  letter-spacing: 3px;
  text-align: left;
}

/* Packeges style start */

#packeges {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px groove #8cbf3f;
  border-radius: 15px;
  padding: 20px;
  height: 175px;
}

#packeges h2 {
  font-family: "Pattaya";
  margin-bottom: 10px;
  color: #8cbf3f;
  font-size: 32px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #firstSection {
    flex-direction: column;
    height: fit-content;
    padding: 5% 0;
  }

  .inner-first {
    width: 90%;
  }
}

/* ########### First section style end here ########## */

/* ########### Second section style start here ########## */

#sp-container {
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(
      rgba(242, 204, 15, 0.9),
      rgba(242, 204, 15, 0.9)
    ),
    url(/img/retro-bg.jpg);
  background-size: cover;
  overflow: hidden;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sp-container h1 {
  font-family: "Pattaya";
  font-size: 65px;
  letter-spacing: 3px;
  margin-right: 50px;
  color: #f2f2f2;
}

#carousel-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#carousel-wrapper #crslBg {
  height: 380px;
  width: 720px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: all 0.6s ease-in-out;
  background-position: center;
  background-size: cover;
  border: #f2f2f2 5px groove;
}
#carousel-wrapper #crslBg #current-option {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-25%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#carousel-wrapper #crslBg #current-option #current-option-text1 {
  font-size: 2rem;
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#carousel-wrapper #crslBg #current-option #current-option-text1::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#carousel-wrapper #crslBg #current-option #current-option-text1::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#carousel-wrapper #crslBg #current-option #current-option-text2 {
  font-size: 0.8rem;
  width: 220px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#carousel-wrapper #crslBg #current-option #current-option-text2::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#carousel-wrapper #crslBg #current-option #current-option-text2::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#carousel-wrapper #crslBg #previous-option {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  transform: translate(310px, 50px);
}
#carousel-wrapper #crslBg #next-option {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  transform: translate(310px, -50px) rotate(180deg);
}
#carousel-wrapper #image {
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
  position: absolute;
  transform: translate(140px, 0);
  background-position: center;
  background-size: contain;
}
#carousel-wrapper.anim-next {
  pointer-events: none;
}
#carousel-wrapper.anim-next #current-option-text1 {
  animation: next-text 0.65s 0.085s;
}
#carousel-wrapper.anim-next #current-option-text2 {
  animation: next-text 0.65s 0.085s;
}
#carousel-wrapper.anim-next #previous-option {
  animation: next-top-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-next #next-option {
  animation: next-bottom-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-next #image {
  animation: next-image 0.65s 0.085s;
}
#carousel-wrapper.anim-previous {
  pointer-events: none;
}
#carousel-wrapper.anim-previous #current-option-text1 {
  animation: previous-text 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #current-option-text2 {
  animation: previous-text 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #previous-option {
  animation: previous-top-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #next-option {
  animation: previous-bottom-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #image {
  animation: previous-image 0.65s 0.085s;
}

.sp-link {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  background-color: black;
  padding: 10px;
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}
@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}
@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}
@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}
@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}
@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}
@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  #sp-container {
    flex-direction: column;
    padding: 0%;
  }

  #carousel-wrapper {
    width: 100%;
  }

  #previous-option,
  #next-option {
    position: relative;
    left: -50px;
    margin: 0;
  }

  #sp-container h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
  }
}

/* ########### Second section style end here ########## */

/* ########### Third section style start here ########## */

#section3 {
  height: 250px;
  background-image: linear-gradient(
      rgba(140, 191, 63, 0.9),
      rgba(140, 191, 63, 0.9)
    ),
    url(/img/retro-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.7);
}

#section3 h2 {
  font-family: "Pattaya";
  color: #9453a6;
  font-size: 35px;
  margin-bottom: 20px;
}

#newsletter {
  width: 450px;
  height: 40px;
  padding: 5px;
}

#newsletter::placeholder {
  color: rgb(133, 133, 133);
  font-size: 16px;
}

#nl-btn {
  height: 40px;
  width: 100px;
  background-color: #9453a6;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

#nl_msg {
  margin-top: 10px;
  color: #9453a6;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  #section3 h2 {
    text-align: center;
    font-size: 30px;
  }

  #newsletter {
    width: 300px;
  }
}

/* ########### Third section style end here ########## */
