@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

/* ########### Navbar style start here ########## */
#topmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

#logo {
  text-align: center;
}

#logo-img {
  width: 225px;
}
#menu {
  display: flex;
  list-style: none;
}
.menu-link a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0px 15px;
}

#search-form {
  width: 300px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px groove;
}
#query {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

/* ::placeholder {
  color: #fff;
  opacity: 0.7;
} */

#search-btn {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

/* ########### Navbar style end here ########## */

/* ########### Slidshow style start here ########## */

#slide1 {
  background-image: url(/img/img-slide-1.jpg);
  background-position: bottom;
}
#slide2 {
  background-image: url(/img/img-slide-2.jpg);
}
#slide3 {
  background-image: url(/img/img-slide-3.jpg);
  background-position: bottom;
}
#slide4 {
  background-image: url(/img/img-slide-4.jpg);
  background-position: bottom;
}
#slide5 {
  background-image: url(/img/img-slide-5.jpg);
  background-position: center;
}

.mySlide {
  display: none;
  height: 500px;
  display: flex;
}

.slide-txt {
  position: relative;
  top: 65%;
  padding: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-txt h2 {
  font-size: 40px;
}
.slide-txt p {
  font-size: 25px;
}

.slideshow-container {
  max-width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#dotNav {
  position: relative;
  top: -50px;
}

.dot {
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #fff;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}
/* ########### Slidshow style end here ########## */

/* ########### First section style start here ############ */

#countdwon {
  display: flex;
  padding: 2%;
  align-items: center;
}

#clock-container {
  text-align: center;
  width: 40%;
}

#clock-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-ul {
  display: flex;
  list-style: none;
}

.clock-ul li {
  text-align: center;
  width: 40px;
  height: 30px;
}

/* ########### First section style end here ############ */

/* ########### Second section style start here ############ */

#sectionTwo {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.sectionTwo-txt {
  padding: 0 5%;
}

.sectionTwo-txt ul {
  list-style: none;
}

.sectionTwo-icon {
  text-align: center;
  width: 50%;
}

.sectionTwo-icon img {
  width: 175px;
}

/* ########### Second section style end here ############ */

/* ########### Third section style end here ############ */

.thumbnail-slider {
  width: 100%;
  overflow: hidden;
}

.thumbnail-slider .thumbnail-container {
  width: 100%;
  float: left;
  transition: margin 1s ease;
}

.thumbnail-slider .item {
  height: 125px;
  background-color: grey;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  float: left;
}

.thumbnail-slider .controls {
  width: 100%;
  float: left;
  padding: 15px;
}

.thumbnail-slider .controls ul {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.thumbnail-slider .controls ul li {
  height: 35px;
  width: 35px;
  border: 1px solid #c3c3c3;
  margin: 4px;
  display: inline-block;
  line-height: 33px;
  cursor: pointer;
}
.thumbnail-slider .controls ul li.active {
  background-color: green;
  color: #ffffff;
}

/* ########### Third section style end here ############ */

/* ########### Fourth section style start here ############ */

#sectionFour {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ########### Fourth section style end here ############ */
