/* ########### First section style start here ############ */

#countdwon {
  display: flex;
  padding: 2%;
  align-items: center;
}

#clock-container {
  text-align: center;
  width: 40%;
}

#clock-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-ul {
  display: flex;
  list-style: none;
}

.clock-ul li {
  text-align: center;
  width: 40px;
  height: 30px;
}

/* ########### First section style end here ############ */

/* ########### Second section style start here ############ */

#sectionTwo {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.sectionTwo-txt {
  padding: 0 5%;
}

.sectionTwo-txt ul {
  list-style: none;
}

.sectionTwo-icon {
  text-align: center;
  width: 50%;
}

.sectionTwo-icon img {
  width: 175px;
}

/* ########### Second section style end here ############ */

/* ########### Third section style end here ############ */

.thumbnail-slider {
  width: 100%;
  overflow: hidden;
}

.thumbnail-slider .thumbnail-container {
  width: 100%;
  float: left;
  transition: margin 1s ease;
}

.thumbnail-slider .item {
  text-align: center;
  float: left;
  border: 1px solid rgb(196, 196, 196);
  transition-duration: 0.5s;
}

.thumbnail-slider .item:hover {
  box-shadow: 7px 9px 17px -1px rgba(0, 0, 0, 0.7);
}

.logoCaption {
  background-color: #c3c3c3;
  padding: 15px 0;
  margin-bottom: 0;
}

.thumbnail-slider .item img {
  width: 90%;
}

.thumbnail-slider .controls {
  width: 100%;
  float: left;
  padding: 15px;
}

.thumbnail-slider .controls ul {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.thumbnail-slider .controls ul li {
  height: 35px;
  width: 35px;
  border: 1px solid #c3c3c3;
  margin: 4px;
  display: inline-block;
  line-height: 33px;
  cursor: pointer;
}
.thumbnail-slider .controls ul li.active {
  background-color: green;
  color: #ffffff;
}

/* ########### Third section style end here ############ */

/* ########### Fourth section style start here ############ */

#sectionFour {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ########### Fourth section style end here ############ */
